
@model  WOOMDBApi.Models.MovieSearchResult
<div class="container">
    Movie Search Results
</div>

<div class="col-lg-3 col-md-4 col-sm-6">

    <article class="card">
        <header class="title-header">
            <h3>@Model.Title</h3>
        </header>
        <div class="card-block">
            <div class="img-card">
                <img src="@Model.ImageUrl" alt="Movie" class="w-100">
            </div>
            <p class="tagline card-text text-xs-center">@Model.Year</p>
            <a href="@Url.Action("Details")" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> View Details</a>
        </div>
    </article>

</div>